<div id='head' class="container-fluid">
	<div class="inner row">
		<div class='logo col-md-3'>
		    <a href='/'><img src='http://findicons.com/files/icons/2166/oxygen/64/knewstuff.png'/></a>
		</div>
		<div class='search col-md-6'>
            <form action ="/home/hairshopsearch/" method="GET">		
          		<input type='text' id="search_box" style='' placeholder='주소 또는 미용실이름 검색' name="searchkey"/>
          	</form>
      	</div>
		<div class='menu col-md-2'>
            <div class="i menu">
    			<div class="dropdown">
                    <div class="row"><%= link_to "내 정보", edit_user_registration_path %></div>
    				<div class="row">내 강의평</div>
    				<div class="hr"></div>
    				<div class="row">서버시간확인</div>
    				<div class="row">고급검색</div>
    				<div class="row">신고/문의하기</div>
    				<div class="hr"></div>
    				<div class="row"><%= link_to "로그아웃", destroy_user_session_path, method: :delete, data: { confirm: "로그아웃 하시겠습니까?" } %></div>
    			</div>
    		</div>
    	</div>
	</div>
</div>