<div class='sideContent'>
	<div class='info side_box'>
		<div class='title'>고려대학교 강의평가사이트,<br />
		KLUE에 오신것을 환영합니다!</div>
		<ul>
			<li>신입생은 평가할 강의가 없고, 포탈 아이디는 3월 이후 발급 가능하므로 2학기부터 사용 가능합니다. 새내기 강의 추천은 선배에게 도움을 받읍시다(밥도 얻어먹고 ^_^;).</li>
			<li>강의평가사이트는 재학생만 가입할 수 있도록 학번과 교내 메일을 통해 인증절차를 거치고 있습니다.</li>
			<li>저장되는 개인정보는 아이디 학번 이름이며 관리자에게 일부만 보여집니다. ex)jason***,2009******,진**.</li>
			<li>입력하는 정보는 암호화되어 저장되며, 관리자는 회원의 개인정보를 오남용 하지 않으며, 보호할 의무를 수행합니다.</li>
			<li>입력해주신 학교 포털메일(@korea.ac.kr)로 인증메일이 전송되니 확인후 로그인 부탁드립니다.</li>
			<li>문의:  klue.kr2@gmail.com </li>
		</ul>
	</div>
</div> 