<div id='tail'>
	<div class="inner">
		<div class="copyright">Copyright &copy; 2015 <a href='http://kweb.korea.ac.kr/' target='_blank' class='orange'>Riah</a> All rights reserved.</div>
	</div>
</div>