<head>
	<%= stylesheet_link_tag "myinfo", :media => "all" %>
</head>
		<div id='head'>
			<div class="inner">
				<div class='logo'><a href='.'><img src='./css/images/logo_s_white.png' /></a></div>
				<div class='search'><input type='text' id='topBar_search' onkeydown='if (event.keyCode == 13) topBar_search();' placeholder='강의명, 학수번호, 교수명으로 빠른검색' /></div>
				<div class='search2'><button type='button' onclick="location.href=yh_path+'/lectureSearch2.php'">고급검색</button></div>				<div class='menu'>
										<div class="e menu">
						<div class="dropdown">
							<div class="row" onclick="location.href=yh_path+'/myInfo.php'">내 정보</div>
							<div class="row" onclick="location.href=yh_path+'/myLectureEval.php'">내 강의평</div>
							<!--<div class="row">쪽지함</div>-->
							<div class="hr"></div>
							<div class="row" onclick="location.href=yh_path+'/serverTime.php'">서버시간확인</div>
							<div class="row" onclick="location.href=yh_path+'/lectureSearch2.php'">고급검색</div>
							<div class="row" onclick="location.href=yh_path+'/report.php'">신고/문의하기</div>
							<!--<div class="row">신고/문의내역</div>-->
							<div class="hr"></div>
							<div class="row" onclick="location.href=yh_path+'/logout.php'">로그아웃</div>
						</div>
					</div>
					<div class="e notification" notificationData='[{&quot;msg&quot;:&quot;\ubcf5\ud559\uc2e0\uccad\uc774 \uc2b9\uc778\ub418\uc5c8\uc2b5\ub2c8\ub2e4.&quot;,&quot;link&quot;:&quot;&quot;,&quot;wr_time&quot;:&quot;2015-07-18 19:52:22&quot;,&quot;read&quot;:1}]'>
						<div class='cnt'></div>
						<div class="dropdown"></div>
					</div>
									</div>
								<div class="serverTime" id='serverTime2' offsetSK='-0.030006094909668,0.007002' onclick="location.href=yh_path+'/serverTime.php'">
					<div class="icon"></div>
					<div class="time">받는중...</div>
					<div class="dropdown">현재 수강신청 서버의 시간입니다<br />더 정확한 시간을 보시려면 <strong>클릭!</strong></div>
				</div>
							</div>
		</div>
		<div id='sideAD'>
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- side2 -->
			<ins class="adsbygoogle"
				 style="display:inline-block;width:160px;height:600px"
				 data-ad-client="ca-pub-3217618135707969"
				 data-ad-slot="2849566935"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
		<div id="sideAD2">
			<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
			<!-- side3 -->
			<ins class="adsbygoogle"
				 style="display:inline-block;width:160px;height:600px"
				 data-ad-client="ca-pub-3217618135707969"
				 data-ad-slot="6272208130"></ins>
			<script>
			(adsbygoogle = window.adsbygoogle || []).push({});
			</script>
		</div>
		<div id='content'><div class="mainContent">
<div class='myInfoForm box'>
	<div class="title"><span>내 정보</span></div>
	<div class="content">
		<div class="row idWrap">
			<div class="subj">아이디</div>
			<div class="data"><span class='id'>lyusungwon</span><span class="email">&nbsp;&nbsp;@korea.ac.kr</span></div>
		</div>
		<div class="row">
			<div class="subj">비밀번호</div>
			<div class="data"><input type='password' class='inputText01' value='SharpART' readonly /><button type='button' class='btn01' onclick="$passwordPopup.addClass('show').find('input[name=mb_pw]').focus();">변경하기</button></div>
		</div>
		<div class="row">
			<div class="subj">닉네임</div>
			<div class="data"><input type='text' class='inputText01' name='mb_nick' value='황학' /></div>
		</div>
		<div class="row">
			<div class="subj">이름</div>
			<div class="data">류성원</div>
		</div>
		<div class="row">
			<div class="subj">학번</div>
			<div class="data">2010120032</div>
		</div>
		<div class="row">
			<div class="subj">가입시간</div>
			<div class="data">2010-08-08 15:53:06</div>
		</div>
		<div class='btnWrap'>
			<button type='button' onclick='doSubmit();'>수정하기</button>
		</div>
	</div>
</div>

<div class='leave box' id='leave'>
	<div class="title"><span>탈퇴하기</span></div>
	<div class="content">
		<div class='descWrap'>
			<strong>KLUE 탈퇴시 주의사항!</strong><br /><br />
			KLUE를 탈퇴하시면 아래와 같은 정보가 모두 삭제되며, 한번 삭제된 정보는 다시 복구할 수 없습니다. <br /><br />
			&lt;KLUE 탈퇴시 삭제 대상&gt;<br />
			· 이름, 학번 비밀번호 등 일체의 개인정보<br />
			· 내 관심과목<br />
			· 그 외에 사용자가 설정한 모든 정보<br /><br />
			단 KLUE를 탈퇴하면서 이전에 작성했던 강의평이 자동으로 삭제되진 않으며, 탈퇴한 이후에는 해당 강의평들을 삭제하실 수 없습니다.
		</div>
		<div class='reasonWrap'><textarea name='lv_reason' placeholder='탈퇴사유를 입력해주세요. 더 나은 KLUE를 위해 노력하겠습니다!'></textarea></div>
		<div class="btnWrap"><button type='button' onclick='doLeave();'>정말 탈퇴할건가요? :(</button></div>
	</div>
</div>


<div id="passwordPopup">
	<div class="inner">
		<div class="title">비밀번호 변경</div>
		<div class="inputWrap">
			<div class="row">
				<div class="left">현재 비밀번호</div>
				<div class="right"><input type='password' name='mb_pw' onkeydown='if (event.keyCode==13) chkCurPw();' /></div>
			</div>
			<div class="row">
				<div class="left">새 비밀번호</div>
				<div class="right"><input type='password' name='mb_pw_new' onkeydown='if (event.keyCode==13) chkCurPw();' /></div>
			</div>
			<div class="row">
				<div class="left">새 비밀번호 확인</div>
				<div class="right"><input type='password' name='mb_pw_new2' onkeydown='if (event.keyCode==13) chkCurPw();' /></div>
			</div>
		</div>
		<div class="btnWrap"><button type='button' class="submit" onclick='chkCurPw();'>변경하기</button><button class="cancel" onclick="$passwordPopup.removeClass('show').find('input').val('');">취소하기</button></div>
	</div>
</div>
	</div><!-- main닫기 -->
	<div class="sideContent">
				<div class='myInfo box'>
			<div class='name_wrap'>
				<div class='name'>황학</div>
				<div class='menu'></div>
			</div>
			<div class='evalInfo'>
				<div class='row'>
					<div class='left'>Point</div>
					<div class='right'><span class='bold'>0 / 0</span> 점</div>
				</div>
				<div class='row2'>
					(현재/누적)
				</div>
				<div class='row cursor' onclick="location.href=yh_path+'/myLectureEval.php'">
					<div class='left'>내 강의평</div>
					<div class='right'><span class='bold'>0 / 12</span> 건</div>
				</div>
				<div class='row2'>
					(이번학기/전체)
				</div>
			</div>
			<div class="btnWrap">
									<div class="permBtn">
						<div class="bg" style='width:100%;'></div>
						<div class="text">열람권한있음</div>
					</div>
								<button type='button' class='evalBtn' onclick="location.href=yh_path+'/lectureEval.php'">평가하러가기</button>
			</div>
		</div>
				<div class='guide box'>
			<div class="left" onclick="location.href=yh_path+'/guide.php'">사용가이드</div>
			<div class="right" onclick="location.href=yh_path+'/returnInfo.php'">복학생안내</div>
		</div>
		<div class='facebook box'>
			<div class='title'>페이스북</div>
			<div class='content'>
				<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fkuklue&amp;width=208&amp;height=558&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=true&amp;show_border=false&amp;appId=115288441967877" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:208px; height:558px;" allowTransparency="true"></iframe>
			</div>
		</div>
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- side_content -->
		<ins class="adsbygoogle"
			 style="display:inline-block;width:250px;height:300px"
			 data-ad-client="ca-pub-3217618135707969"
			 data-ad-slot="4035582137"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
</div>
<div id='tail'>
	<div class="inner">
		<div class="copyright">Copyright &copy; 2015 <a href='http://kweb.korea.ac.kr/' target='_blank' class='orange'>KLUE</a> All rights reserved.</div>
	</div>
</div>
