           <%= form_tag '/home/write_process',method:'post', html: {:class => "form-horizontal"}, multipart: true do %>
                  <!--<form class="form-horizontal" action="/trend/reply">-->
                  <input type="hidden" name="hairshop_id" value="<%=@hairshop.id%>">
                      <!--댓글 공간 시작-->
                    <fieldset>
                          <legend style="font-family: sans-serif">댓글</legend>
                          <div class="form-group">
                              <div style="margin:20px, auto">
                              <p><%=current_user.email%></p></div>
                           <!--댓글 내 별점 공간-->
                          <div class="form-group" >
                            <p>총평</p>
                              <span class="star-rating small">
                                <input type="radio" name="rating_a" value="1"><i></i>
                                <input type="radio" name="rating_a" value="2"><i></i>
                                <input type="radio" name="rating_a" value="3"><i></i>
                                <input type="radio" name="rating_a" value="4"><i></i>
                                <input type="radio" name="rating_a" value="5"><i></i>
                              </span>
                            <p>가격</p>
                              <span class="star-rating small">
                                <input type="radio" name="rating_b" value="1"><i></i>
                                <input type="radio" name="rating_b" value="2"><i></i>
                                <input type="radio" name="rating_b" value="3"><i></i>
                                <input type="radio" name="rating_b" value="4"><i></i>
                                <input type="radio" name="rating_b" value="5"><i></i>
                              </span>
                           </div>
                          
                           <div class="form-group">
                            <p>실력</p>
                              <span class="star-rating small">
                                <input type="radio" name="rating_c" value="1"><i></i>
                                <input type="radio" name="rating_c" value="2"><i></i>
                                <input type="radio" name="rating_c" value="3"><i></i>
                                <input type="radio" name="rating_c" value="4"><i></i>
                                <input type="radio" name="rating_c" value="5"><i></i>
                              </span>
                           </div>
                           <div class="form-group">
                            <p>시설.서비스</p>
                              <span class="star-rating small">
                                <input type="radio" name="rating_d" value="1"><i></i>
                                <input type="radio" name="rating_d" value="2"><i></i>
                                <input type="radio" name="rating_d" value="3"><i></i>
                                <input type="radio" name="rating_d" value="4"><i></i>
                                <input type="radio" name="rating_d" value="5"><i></i>
                              </span>
                           </div>
                           <div class="form-group">
                            <p>펌</p>
                              <span class="star-rating small">
                                <input type="radio" name="rating_e" value="1"><i></i>
                                <input type="radio" name="rating_e" value="2"><i></i>
                                <input type="radio" name="rating_e" value="3"><i></i>
                                <input type="radio" name="rating_e" value="4"><i></i>
                                <input type="radio" name="rating_e" value="5"><i></i>
                              </span>
                           </div>
                           <div class="form-group">
                            <p>염색</p>
                              <span class="star-rating small">
                                <input type="radio" name="rating_f" value="1"><i></i>
                                <input type="radio" name="rating_f" value="2"><i></i>
                                <input type="radio" name="rating_f" value="3"><i></i>
                                <input type="radio" name="rating_f" value="4"><i></i>
                                <input type="radio" name="rating_f" value="5"><i></i>
                              </span>
                           </div>
                           <!-- 댓글 텍스트 쓰는공간-->
                            <label for="textArea" class="col-lg-2 control-label">Textarea</label>
                            <div class="col-lg-10">
                              <textarea class="form-control" rows="3" name="content"></textarea>
                              <span style="font-family: sans-serif" class="help-block">댓글을 남겨주세요</span>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">암호</label>
                            <input type="password" class="form-control" name="password" placeholder="암호">
                          </div>
                         
                          <div class="form-group">
                            <label for="exampleInputFile">이미지파일 업로드</label>
                            <input type="file" name="image_file">
                            <p class="help-block">여기에 블록레벨 도움말 예제</p>
                          </div>
                          <!--전송버튼-->
                          <div class="form-group" id="submit">
                            <div class="col-lg-8 col-lg-offset-2">
                              <button type="submit" class="btn btn-primary">GO</button>
                            </div>
                          </div>
                        </fieldset>
                                          
                       <%end%>
                    

					</div>
				</div>
			</div>