@charset "UTF-8";
.lectureInfo {padding-top:0px !important;}
.lectureInfo > .top {overflow:hidden;}
.lectureInfo > .top > .lec_name {height:50px;float:left;}
.lectureInfo > .top > .lec_name > span {line-height:45px;border-top:5px solid #F84;font-size:16pt;font-weight:bold;color:#F84;float:left;}
.lectureInfo > .top > .lec_profName {height:50px;padding-left:15px;padding-top:10px;float:left;}
.lectureInfo > .top > .lec_profName > span {line-height:40px;font-size:10pt;color:#AAA;float:left;}
.lectureInfo > .top > .menu {height:50px;overflow:hidden;}

.lectureInfo > .lec_rating {margin-top:10px;padding-top:20px;border-top:1px solid #DDD;overflow:hidden;}
.lectureInfo > .lec_rating > .e {width:50%;height:40px;float:left;display:inline;}
.lectureInfo > .lec_rating > .e > .left {width:50px;height:30px;line-height:30px;padding-right:10px;float:left;font-size:9pt;color:#AAA;text-align:right;}
.lectureInfo > .lec_rating > .e > .right {width:50px;height:30px;line-height:30px;padding-left:10px;float:right;font-family:'arial';font-size:12pt;font-weight:bold;color:#F84;text-align:left;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.lectureInfo > .lec_rating > .e > .right > .noData {font-family:'맑은 고딕';font-size:9pt;color:#AAA;font-weight:normal;}
.lectureInfo > .lec_rating > .e > .center {height:30px;overflow:hidden;}
.lectureInfo > .lec_rating > .e > .center > span {width:20%;height:10px;margin-top:10px;border-right:1px solid #F5F5F5;background:#E5E5E5;float:left;}
.lectureInfo > .lec_rating > .e > .center > span:first-child {border-radius:5px 0 0 5px;}
.lectureInfo > .lec_rating > .e > .center > span:last-child {border-radius:0 5px 5px 0;}
.lectureInfo > .lec_rating > .e.total > .center > span {height:20px;margin-top:5px;border-radius:0;border:none;background:url('/lectureEval_star.png') no-repeat;background-position: center -20px;
background-size:20px 40px;}
.lectureInfo > .lec_rating > .e.total > .center > span.active {background-position:center -20px;}
.lectureInfo > .lec_rating > .e.difficulty > .center > span.active {background:#F84;}
.lectureInfo > .lec_rating > .e.studyTime > .center > span.active {background:#5987FF;}
.lectureInfo > .lec_rating > .e.attendance > .center > span.active {background:#FFC000;}
.lectureInfo > .lec_rating > .e.grade > .center > span.active {background:#8F3CB2;}
.lectureInfo > .lec_rating > .e.achievement > .center > span.active {background:#00C675;}
.lectureInfo > .lec_rating > .loading {height:120px;line-height:120px;color:#AAA;text-align:center;}

.lectureInfo > .lec_info {margin-top:20px;padding-top:20px;border-top:1px solid #DDD;font-size:10pt;overflow:hidden;}
.lectureInfo > .lec_info > .e {width:33.33%;height:30px;line-height:30px;float:left;}
.lectureInfo > .lec_info > .e2 {height:30px;line-height:30px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.lectureInfo > .lec_info > div > .subj {margin-right:20px;font-weight:bold;color:#555;}
.lectureInfo > .lec_info > div > .content {color:#999;}

.lectureInfo > .optionWrap {margin-top:20px;padding-top:20px;border-top:1px solid #DDD;overflow:hidden;}
.lectureInfo > .optionWrap > .left {width:50%;height:40px;float:left;}
.lectureInfo > .optionWrap > .left > button {height:40px;padding:0 20px;margin-right:10px;border:none;font-size:10pt;color:#FFF;cursor:pointer;}
.lectureInfo > .optionWrap > .left > .eval {background:#F84;}
.lectureInfo > .optionWrap > .left > .interest {background:#999;}
.lectureInfo > .optionWrap > .right {height:40px;text-align:right;overflow:hidden;}
.lectureInfo > .optionWrap > .right > select {height:40px;border:1px solid #DDD;color:#777;}

.lectureEvalListTitle {height:60px;line-height:60px;font-size:16pt;font-weight:bold;color:#777;}













 .eval_wrap > .title {height:40px;line-height:40px;font-weight:bold;font-size:16pt;}
 .eval_wrap > .desc {width: 100%;padding:15px 10px;margin-top:40px;border-left:4px solid #FFA500;background:#F5F5F5;}
 .eval_wrap > .desc > ul {margin:0;padding-left:1.5em;list-style-type:check;}
 .eval_wrap > .desc > ul > li {line-height:130%;margin-bottom:10px;font-size:10pt;}
 .eval_wrap > .desc > ul > li:last-child {margin:0;}
   .form {margin-top:40px;overflow:hidden;}
   .form > .row {margin-bottom:20px;position:relative;}
   .form > .row > .subj {margin-right:10px;width:80px;height:40px;line-height:40px;padding-left:25px;float:left;font-size:09pt;font-weight:bold;}
   .form > .row > .content {min-height:40px;overflow:hidden;}
   .form > .row > .content.bg1 {width: 75%;background:#F5F5F5;}
   .form > .row > .content > input {width:90%;height:40px;border:1px solid #DDD;margin:0;padding: 15px;overflow:hidden;}
   .form > .row > .content > input.inputText01 {width:100px;}
   .form > .row > .content > input.inputText02 {width:200px;}
   .form > .row > .content > input.inputText03 {width:300px;}
   .form > .row > .content > input.inputText04 {width:400px;}
   .form > .row > .content > input.selected {background:#DFD;border:1px solid #BDB;}

   .form > .row > .content > .e {height:40px;margin:5px 0;overflow:hidden;}
   .form > .row > .content > .e > .left {width:100px;height:40px;line-height:40px;padding-right:10px;float:left;font-size:9pt;color:#AAA;text-align:right;}
   .form > .row > .content > .e > .right {width:0px;height:40px;line-height:40px;padding-left:40px;float:right;font-size:9pt;color:#777;text-align:left;}
   .form > .row > .content > .e > .center {height:40px;padding-left:10px;overflow:hidden;}
   .form > .row > .content > .e > .center > .graphWrap {width:45px;height:40px;float:left;cursor:pointer;}
   .form > .row > .content > .e > .center > .graphWrap > span {width:45px;height:10px;margin-top:15px;border-right:1px solid #F5F5F5;background:#E5E5E5;float:left;}
   .form > .row > .content > .e > .center > .graphWrap:first-child > span {border-radius:5px 0 0 5px;}
   .form > .row > .content > .e > .center > .graphWrap:last-child > span{border-radius:0 5px 5px 0;}
/*   .form > .row > .content > .e.total > .center > .graphWrap > span {width:30px;height:30px;margin-top:7px;border-radius:0;border:none;background:url('./images/lectureEval_star.png') top center no-repeat;background-size:30px 60px;}
   .form > .row > .content > .e.total > .center > .graphWrap > span.active {background-position:0px -30px;}*/
   .form > .row > .content > .e.total > .center > .graphWrap > span.active {background:#F84;}
   .form > .row > .content > .e.difficulty > .center > .graphWrap > span.active {background:#F84;}
   .form > .row > .content > .e.studyTime > .center > .graphWrap > span.active {background:#5987FF;}
   .form > .row > .content > .e.attendance > .center > .graphWrap > span.active {background:#FFC000;}
   .form > .row > .content > .e.grade > .center > .graphWrap > span.active {background:#8F3CB2;}
   .form > .row > .content > .e.achievement > .center > .graphWrap > span.active {background:#00C675;}
   .form > .row > .content > textarea {width:90%;height:150px;line-height:120%;padding:10px;border:1px solid #DDD;border-radius:3px;resize:none;}
	#textCnt {font-size:10pt;color:#AAA;text-align:right;}
	#textCnt.warning {color:#F22;}
   .form > .btnWrap {height:50px;margin-top:10px;text-align:right; width:80%}
   .form > .btnWrap > button {height:50px;padding:0 30px;border:none;color:#FFF;font-size:12pt;background:#F84;cursor:pointer;}


#lec_list {width:100%;padding-left:120px;position:absolute;left:0;top:40px;z-index:10;display:none;}
#lec_list.show {display:block;}
#lec_list > .e {height:40px;line-height:39px;border:1px solid #E5E5E5;border-top:none;padding:0 10px;color:#AAA;background:#FFF;cursor:pointer;overflow:hidden;}
#lec_list > .e:hover {color:#777;background:#FEB;}
#lec_list > .e.selected {color:#777;background:#FEB;}



#content > .sideContent > .effect {}
#content > .sideContent > .effect > .title {margin-bottom:20px;}
#content > .sideContent > .effect > .row {margin-bottom:15px;color:#333;}
#content > .sideContent > .effect > .row > span.from {font-size:8pt;color:#FA5;}