#content {text-align:left;}

.search_wrap {height:150px;padding:25px 20px;margin-bottom:10px;overflow:hidden;}
/*.search_wrap > .title {padding-bottom:25px;border-bottom:1px solid #DDD;}
.search_wrap > .title > span {border-left:4px solid #F84;padding-left:10px;margin-left:10px;font-size:15pt;font-weight:bold;}*/
.search_wrap > .content {}

/*.notice_wrap {height:50px;line-height:48px;padding:0 20px;margin-bottom:20px;border:1px solid #ffb789;border-radius:3px;color:#F84;background:#ffdac5;}*/

/*#content > .mainContent > .box {padding:25px 20px;margin-bottom:10px;border:1px solid #DDD;background:#FFF;overflow:hidden;}*/
/*#content > .mainContent > .box > .title {padding-bottom:25px;border-bottom:1px solid #DDD;}
#content > .mainContent > .box > .title > span {border-left:4px solid #F84;padding-left:10px;margin-left:10px;font-size:15pt;font-weight:bold;}*/

#content > .mainContent > .ieWarning {padding:20px;background:#FED;border:1px solid #F84;}
#content > .mainContent > .ieWarning > div {padding-top:4px;}
#content > .mainContent > .ieWarning > .wariningIcon {width:80px;height:80px;margin-left:30px;float:left;}
#content > .mainContent > .ieWarning > .desc {width:300px;height:80px;float:left;}
#content > .mainContent > .ieWarning > .desc > .title {font-size:12pt;font-weight:bold;}
#content > .mainContent > .ieWarning > .desc > .content {color:#777;}
#content > .mainContent > .ieWarning > .iconList {height:80px;overflow:hidden;}

#content > .mainContent > .welcome_wrap {overflow:hidden;}
#content > .mainContent > .welcome_wrap > .content {line-height:150%;padding:10px;color:#555;font-size:11pt;}
#content > .mainContent > .welcome_wrap > .content > strong {color:#333;}
#content > .mainContent > .welcome_wrap > .content > strong.orange {color:#F84;}
#content > .mainContent > .welcome_wrap > .content > .desc {border:1px solid #DDD;padding:10px;font-size:9pt;background:#F5F5F5}

#content > .mainContent > .recent_wrap {overflow:hidden;}
#content > .mainContent > .recent_wrap > .title {height:60px;line-height:60px;font-size:16pt;font-weight:bold;color:#777;}
	#lectureEvalList {}